<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>I am a Software Engineer with a strong passion for Artificial Intelligence and a dedication to leveraging cutting-edge technology to create innovative solutions. Currently, I work for American Express on the anti-money laundering team, where I am responsible for designing and implementing solutions to detect and prevent financial crimes. </p>
                    <br>
                    <p>Before joining American Express, I worked as a Software Engineer on the DevOps team at M&T Bank, where I honed my skills in automation and infrastructure management. Additionally, I gained valuable experience as a machine learning/data science intern at Linde plc, where I assisted in maintaining and expanding predictive models and data-driven solutions to improve operational efficiency. </p>
                    <br> 
                    <p>I am a graduate of the University at Buffalo, where I earned both my Bachelor's and Master's degrees in Computer Science with a heavy focus on Artificial Intelligence. My passion for learning extends beyond the classroom, and I am constantly seeking new challenges and opportunities to expand my knowledge and skills. Whether it's exploring new programming languages or experimenting with emerging technologies, I am always eager to push the boundaries of what's possible and stay at the forefront of the tech industry.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/resume"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Resume</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>