---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight has-background-black" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <h1 class="subtitle is-uppercase has-text-weight-medium has-text-white">A.I Unleashed - [Work In Progress]</h1>
                    <h5 class="has-text-white">Content will be added over time. Current Content = Git, RegEx</h5>
                </div>
                {% include study-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>